Repository isaac-cf-wong/nullpol: changes, and which pre-commit hooks are due for each by the changed paths.
All: auto-generate-init-src, auto-generate-init-tests

auto-generate-init-src:
  name: Auto-generate __init__.py files for src
  entry: python scripts/auto_generate_init.py
  language: python
  pass_filenames: false
  description: Auto-generate __init__.py files for leaf packages in src
  additional_dependencies: []

auto-generate-init-tests:
  name: Auto-generate __init__.py files for tests
  entry: python scripts/auto_generate_init.py --root-dir tests
  language: python
  pass_filenames: false
  description: Auto-generate __init__.py files for leaf packages in tests
  additional_dependencies: []

refactor: streamline CI workflow
  .github/workflows/CI.yml
  scripts/validate_ci_test_coverage.py
Due: none

feat: add compute_principal_null_components method for null stream analysis
  src/nullpol/analysis/null_stream/calculator.py
Due: auto-generate-init-src

Refactor likelihood classes to unify data handling and improve code clarity
  src/nullpol/analysis/likelihood/chi2_tf_likelihood.py
  src/nullpol/analysis/likelihood/time_frequency_likelihood.py
  src/nullpol/analysis/null_stream/calculator.py
  tests/analysis/likelihood/test_chi2_tf_likelihood.py
  tests/analysis/likelihood/test_time_frequency_likelihood.py
  tests/analysis/null_stream/__init__.py
  tests/analysis/null_stream/test_calculator.py
Due: auto-generate-init-src, auto-generate-init-tests

refactor: rename and restructure methods in NullStreamCalculator for clarity and maintainability
  src/nullpol/analysis/null_stream/calculator.py
  tests/analysis/null_stream/__init__.py
  tests/analysis/null_stream/test_calculator.py
Due: auto-generate-init-src, auto-generate-init-tests

docs: update skypoints parameter description in run_time_frequency_clustering function
  src/nullpol/analysis/clustering/application.py
Due: auto-generate-init-src

(bugfix) Function 'compute_principal_null_components' now produces correct output.
  src/nullpol/analysis/null_stream/calculator.py
Due: auto-generate-init-src

Revert "(bugfix) Function 'compute_principal_null_components' now produces correct output."
  src/nullpol/analysis/null_stream/calculator.py
Due: auto-generate-init-src

Changes made to 'NullStreamCalculator' class to allow for calculating the (time-frequency) null stream samples to use in the frequentist test. TODO: Remove filtered-out time-frequency pixels!
  src/nullpol/analysis/null_stream/calculator.py
Due: auto-generate-init-src

Corrected the applying of the time-frequency filter to the principal null components.
  src/nullpol/analysis/null_stream/calculator.py
Due: auto-generate-init-src

Revert "Corrected the applying of the time-frequency filter to the principal null components."
  src/nullpol/analysis/null_stream/calculator.py
Due: auto-generate-init-src

Revert "Changes made to 'NullStreamCalculator' class to allow for calculating the (time-frequency) null stream samples to use in the frequentist test. TODO: Remove filtered-out time-frequency pixels!"
  src/nullpol/analysis/null_stream/calculator.py
Due: auto-generate-init-src

Refactor compute_null_energy method to return only filtered null strain and remove unused variables
  src/nullpol/analysis/null_stream/calculator.py
Due: auto-generate-init-src

Remove assertion for 'compute_principal_null_components' from public methods in TestNullStreamCalculator
  tests/analysis/null_stream/test_calculator.py
Due: auto-generate-init-tests

Refactor compute_null_energy to use calibrated whitened antenna pattern matrix
  src/nullpol/analysis/null_stream/calculator.py
Due: auto-generate-init-src

Refactor AntennaPatternProcessor and NullStreamCalculator to remove frequency_domain_strain_array parameter
  src/nullpol/analysis/antenna_patterns/processor.py
  src/nullpol/analysis/null_stream/calculator.py
  tests/analysis/antenna_patterns/test_processor.py
  tests/analysis/null_stream/test_calculator.py
Due: auto-generate-init-src, auto-generate-init-tests

Update CI workflow to include 'nullpol-dev' branch for push and pull request events
  .github/workflows/CI.yml
Due: none

Add strong lensing analysis modules and update related components
  scripts/auto_generate_init.py
  src/nullpol/analysis/__init__.py
  src/nullpol/analysis/data_context.py
  src/nullpol/analysis/lensing/__init__.py
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
  src/nullpol/analysis/lensing/data_context.py
  src/nullpol/analysis/null_stream/calculator.py
  tests/analysis/likelihood/__init__.py
Due: auto-generate-init-src, auto-generate-init-tests

Add tests for lensing functionality and update ignore words
  .ignore_words.txt
  tests/analysis/lensing/__init__.py
  tests/analysis/lensing/test_calculator.py
  tests/analysis/lensing/test_chi2_tf_likelihood.py
  tests/analysis/lensing/test_data_context.py
Due: auto-generate-init-tests

Refactor lensing calculator to use full interferometer list and clean up test data context
  .ignore_words.txt
  src/nullpol/analysis/lensing/calculator.py
  tests/analysis/lensing/test_data_context.py
Due: auto-generate-init-src, auto-generate-init-tests

style: add pylint disables for intentional design choices in lensing modules
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
Due: auto-generate-init-src

Update src/nullpol/analysis/lensing/data_context.py
  src/nullpol/analysis/lensing/data_context.py
Due: auto-generate-init-src

Update tests/analysis/lensing/test_data_context.py
  tests/analysis/lensing/test_data_context.py
Due: auto-generate-init-tests

refactor: initialize Likelihood in LensingChi2TimeFrequencyLikelihood and clean up TimeFrequencyLikelihood
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
  src/nullpol/analysis/likelihood/time_frequency_likelihood.py
Due: auto-generate-init-src

docs: add docstring for LensingNullStreamCalculator and LensingChi2TimeFrequencyLikelihood __init__
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
Due: auto-generate-init-src

style: add pylint disables for duplicate code in calculator and lensing modules
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
  src/nullpol/analysis/null_stream/calculator.py
Due: auto-generate-init-src

fix: update lensing factor computation to apply only to second image in LensingNullStreamCalculator
  src/nullpol/analysis/lensing/calculator.py
  tests/analysis/lensing/test_calculator.py
Due: auto-generate-init-src, auto-generate-init-tests

Revert PR #11
  .github/workflows/CI.yml
Due: none

Remove integration marker from fixture decorators in test files
  tests/analysis/test_result.py
  tests/cli/test_create_injection.py
Due: auto-generate-init-tests

Refactor parameter names in lensing calculations for consistency
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/data_context.py
  tests/analysis/lensing/test_calculator.py
  tests/analysis/lensing/test_data_context.py
Due: auto-generate-init-src, auto-generate-init-tests

Ensure interferometers are validated as InterferometerList in TimeFrequencyDataContext
  src/nullpol/analysis/data_context.py
Due: auto-generate-init-src

Enhance error handling in convert_string_to_dict to include TypeError and add fallback to literal_eval
  src/nullpol/asimov/utility.py
Due: auto-generate-init-src

Add validation functions for GR PE results and identify basis production
  src/nullpol/asimov/tgrflow.py
Due: auto-generate-init-src

Fix version number to 0.1.1 in __init__.py
  src/nullpol/__init__.py
Due: auto-generate-init-src

Update bilby_pipe dependency
  pyproject.toml
  src/nullpol/tools/parser.py
Due: auto-generate-init-src

Update dependency versions in pyproject.toml for compatibility
  pyproject.toml
Due: none

Add validation for required files in GR PE results
  src/nullpol/asimov/tgrflow.py
Due: auto-generate-init-src

Add calibration correction type to DataGenerationInput and remove from Input
  src/nullpol/tools/data_generation.py
  src/nullpol/tools/input.py
Due: auto-generate-init-src

Remove calibration correction type property from Input class
  src/nullpol/tools/input.py
Due: auto-generate-init-src

Update supported polarization modes in DataAnalysisInput
  src/nullpol/tools/data_analysis.py
Due: auto-generate-init-src

Add validation for PESummaryResultFile in GR PE results
  src/nullpol/asimov/tgrflow.py
Due: auto-generate-init-src

Path conditions:
  auto-generate-init-src: any of: ^src/.*\.py$
  auto-generate-init-tests: any of: ^tests/.*\.py$
