Repository isaac-cf-wong/nullpol: changes, and which pre-commit hooks are due for each by the changed paths.
All: auto-generate-init-src, auto-generate-init-tests

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: auto-generate-init-src
        name: Auto-generate __init__.py files for src
        entry: python scripts/auto_generate_init.py
        language: python
        files: '^src/.*\.py$'
        pass_filenames: false
        description: "Auto-generate __init__.py files for leaf packages in src"
        additional_dependencies: []
      - id: auto-generate-init-tests
        name: Auto-generate __init__.py files for tests
        entry: python scripts/auto_generate_init.py --root-dir tests
        language: python
        files: '^tests/.*\.py$'
        pass_filenames: false
        description: "Auto-generate __init__.py files for leaf packages in tests"
        additional_dependencies: []

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
      - id: black
        files: ^(src|tests)/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^(src|tests)/

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.3.3 # Keep this version or update to the latest stable
    hooks:
      - id: cspell
        name: Check spelling in Python, reSt, and Markdown files.
        args: ["--config", "cspell.json"]
        files: ^.*\.(py|rst|md)$
      - id: cspell
        name: Check commit message spelling.
        args:
          - --config
          - cspell.json
          - --no-must-find-files
          - --no-progress
          - --no-summary
          - --files
          - .git/COMMIT_EDITMSG
        stages: [commit-msg]
        always_run: true

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.51"
    hooks:
      - id: check-manifest
        stages: [manual]

Refine documentation for identify_basis_production function to clarify validation criteria for IllustrativeResult
  src/nullpol/asimov/tgrflow.py
Due: auto-generate-init-src

Fix notes retrieval to handle missing keys in corresponding analysis
  src/nullpol/asimov/tgrflow.py
Due: auto-generate-init-src

Add error handling for missing preferred GraceDB event in Applicator
  src/nullpol/asimov/tgrflow.py
Due: auto-generate-init-src

Fix review status check to handle None values in Collector class
  src/nullpol/asimov/tgrflow.py
Due: auto-generate-init-src

chore: Rename the CI back to ci.yml
  .github/workflows/ci.yml
Due: none

ci: Update the CI workflow file
  .github/workflows/ci.yml
Due: none

chore: Rename CI.yml temporarily
  .github/workflows/tmp.yml
Due: none

ci: Remove windows from the CI because lalsuite does not have a wheel for Windows
  .github/workflows/ci.yml
Due: none

chore: Update the license from MIT to the compatible GPLv3+
  LICENSE
Due: none

chore: Update the license from MIT to the compatible GPLv3+ (#100)
  LICENSE
Due: none

chore: Remove dependabot
  .github/dependabot.yml
Due: none

chore: Add renovate configurations
  renovate.json
Due: none

test: Add smoke tests before publishing
  tests/smoke_test.py
Due: auto-generate-init-tests

chore: Use dynamic versioning
  src/nullpol/__init__.py
  src/nullpol/version.py
Due: auto-generate-init-src

ci: Update workflows
  .github/workflows/codeql.yml
  .github/workflows/publish_testpypi.yml
  .github/workflows/release.yml
  .github/workflows/schedule-update-actions.yml
  .github/workflows/scheduled-release.yml
  .github/workflows/semantic-pr-check.yml
  .github/workflows/sphinx.yml
Due: none

ci: Update workflows to streamline the code management (#101)
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/publish_testpypi.yml
  .github/workflows/release.yml
  .github/workflows/schedule-update-actions.yml
  .github/workflows/scheduled-release.yml
  .github/workflows/semantic-pr-check.yml
  .github/workflows/sphinx.yml
  renovate.json
  src/nullpol/__init__.py
  src/nullpol/version.py
  tests/smoke_test.py
Due: auto-generate-init-src, auto-generate-init-tests

docs: Fix the mis-formatting by prettier
  .prettierignore
  docs/reference/nullpol/analysis/antenna_patterns/index.md
  docs/reference/nullpol/analysis/clustering/index.md
  docs/reference/nullpol/analysis/index.md
  docs/reference/nullpol/analysis/likelihood/index.md
  docs/reference/nullpol/analysis/null_stream/index.md
  docs/reference/nullpol/analysis/prior/index.md
  docs/reference/nullpol/analysis/tf_transforms/index.md
  docs/reference/nullpol/cli/index.md
  docs/reference/nullpol/index.md
  docs/reference/nullpol/integrations/asimov/index.md
  docs/reference/nullpol/integrations/htcondor/index.md
  docs/reference/nullpol/integrations/index.md
  docs/reference/nullpol/simulation/index.md
  docs/reference/nullpol/utils/index.md
  docs/reference/nullpol/version.md
Due: none

docs: Fix the mis-formatting by prettier (#103)
  .prettierignore
  docs/reference/nullpol/analysis/antenna_patterns/index.md
  docs/reference/nullpol/analysis/clustering/index.md
  docs/reference/nullpol/analysis/index.md
  docs/reference/nullpol/analysis/likelihood/index.md
  docs/reference/nullpol/analysis/null_stream/index.md
  docs/reference/nullpol/analysis/prior/index.md
  docs/reference/nullpol/analysis/tf_transforms/index.md
  docs/reference/nullpol/cli/index.md
  docs/reference/nullpol/index.md
  docs/reference/nullpol/integrations/asimov/index.md
  docs/reference/nullpol/integrations/htcondor/index.md
  docs/reference/nullpol/integrations/index.md
  docs/reference/nullpol/simulation/index.md
  docs/reference/nullpol/utils/index.md
  docs/reference/nullpol/version.md
Due: none

chore: Add the index for testpypi
  pyproject.toml
Due: none

chore: Add the index for testpypi (#107)
  pyproject.toml
Due: none

ci: Add draft release workflow
  .github/workflows/draft-release.yml
  cliff.toml
Due: none

ci: Add draft release workflow (#108)
  .github/workflows/draft-release.yml
  cliff.toml
Due: none

docs: Update README, CITATION.cff, CODE_OF_CONDUCT, and CONTRIBUTING
  CITATION.cff
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

docs: Update README, CITATION.cff, CODE_OF_CONDUCT, and CONTRIBUTING (#110)
  CITATION.cff
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

docs: Add security policy
  SECURITY.md
Due: none

chore: Add issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

chore: Add pull request template
  .github/pull_request_template.md
Due: none

docs: Add commnunity files (issue templates, pull request templates, and security policy) (#111)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/pull_request_template.md
  SECURITY.md
Due: none

fix(cli): correct supported polarization modes in analysis validation
  src/nullpol/cli/data_analysis.py
Due: auto-generate-init-src

fix(asimov): restore compatibility with the latest bilby and asimov
  src/nullpol/integrations/asimov/tgrflow.py
  src/nullpol/integrations/asimov/utility.py
Due: auto-generate-init-src

chore: Use `get` to get results for robustness
  src/nullpol/integrations/asimov/tgrflow.py
Due: auto-generate-init-src

test: Add unit tests and integration tests
  .github/workflows/ci.yml
  tests/cli/test_data_analysis_validation.py
  tests/integrations/asimov/__init__.py
  tests/integrations/asimov/conftest.py
  tests/integrations/asimov/test_tgrflow.py
  tests/integrations/asimov/test_tgrflow_integration.py
  tests/integrations/asimov/test_utility.py
Due: auto-generate-init-tests

chore: Fix formatting and spelling issues
  .github/workflows/ci.yml
  tests/integrations/asimov/test_utility.py
Due: auto-generate-init-tests

ci: Harden checkout by disabling credential persistence
  .github/workflows/ci.yml
Due: none

test: Assert update_event is also not called on failure paths
  tests/integrations/asimov/test_tgrflow_integration.py
Due: auto-generate-init-tests

test: Resolve the pre-existing test bugs
  tests/analysis/test_data_context.py
  tests/smoke_test.py
Due: auto-generate-init-tests
