Repository isaac-cf-wong/nullpol: changes, and which pre-commit hooks are due for each by the changed paths.
All: auto-generate-init-src, auto-generate-init-tests

auto-generate-init-src:
  name: Auto-generate __init__.py files for src
  entry: python scripts/auto_generate_init.py
  language: python
  pass_filenames: false
  description: Auto-generate __init__.py files for leaf packages in src
  additional_dependencies: []

auto-generate-init-tests:
  name: Auto-generate __init__.py files for tests
  entry: python scripts/auto_generate_init.py --root-dir tests
  language: python
  pass_filenames: false
  description: Auto-generate __init__.py files for leaf packages in tests
  additional_dependencies: []

fix(asimov): address CodeRabbit review findings in tgrflow
  src/nullpol/integrations/asimov/tgrflow.py
  tests/integrations/asimov/test_tgrflow.py
  tests/integrations/asimov/test_tgrflow_integration.py
Due: auto-generate-init-src, auto-generate-init-tests

fix(asimov): reduce return statements in validate_gr_pe_result; add missing tests
  src/nullpol/integrations/asimov/tgrflow.py
  tests/integrations/asimov/test_tgrflow.py
Due: auto-generate-init-src, auto-generate-init-tests

fix: restore compatibility with the latest bilby and asimov (#116)
  .github/workflows/ci.yml
  src/nullpol/cli/data_analysis.py
  src/nullpol/integrations/asimov/tgrflow.py
  src/nullpol/integrations/asimov/utility.py
  tests/analysis/test_data_context.py
  tests/cli/test_data_analysis_validation.py
  tests/integrations/asimov/__init__.py
  tests/integrations/asimov/conftest.py
  tests/integrations/asimov/test_tgrflow.py
  tests/integrations/asimov/test_tgrflow_integration.py
  tests/integrations/asimov/test_utility.py
  tests/smoke_test.py
Due: auto-generate-init-src, auto-generate-init-tests

fix(cli): forward keyword-only likelihood parameters
  src/nullpol/cli/input.py
  tests/cli/test_input.py
Due: auto-generate-init-src, auto-generate-init-tests

fix(cli): preserve variadic likelihood kwargs
  src/nullpol/cli/input.py
  tests/cli/test_input.py
Due: auto-generate-init-src, auto-generate-init-tests

test(cli): cover extra-kwarg dropping and dotted-path likelihood forwarding
  tests/cli/test_input.py
Due: auto-generate-init-tests

fix(cli): forward keyword-only likelihood parameters (#138)
  src/nullpol/cli/input.py
  tests/cli/test_input.py
Due: auto-generate-init-src, auto-generate-init-tests

Add strong lensing analysis modules and update related components
  scripts/auto_generate_init.py
  src/nullpol/analysis/__init__.py
  src/nullpol/analysis/data_context.py
  src/nullpol/analysis/lensing/__init__.py
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
  src/nullpol/analysis/lensing/data_context.py
  src/nullpol/analysis/null_stream/calculator.py
  tests/analysis/likelihood/__init__.py
Due: auto-generate-init-src, auto-generate-init-tests

Add tests for lensing functionality and update ignore words
  tests/analysis/lensing/__init__.py
  tests/analysis/lensing/test_calculator.py
  tests/analysis/lensing/test_chi2_tf_likelihood.py
  tests/analysis/lensing/test_data_context.py
Due: auto-generate-init-tests

refactor: initialize Likelihood in LensingChi2TimeFrequencyLikelihood and clean up TimeFrequencyLikelihood
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
  src/nullpol/analysis/likelihood/time_frequency_likelihood.py
Due: auto-generate-init-src

fix: update lensing factor computation to apply only to second image in LensingNullStreamCalculator
  src/nullpol/analysis/lensing/calculator.py
  tests/analysis/lensing/test_calculator.py
Due: auto-generate-init-src, auto-generate-init-tests

Refactor parameter names in lensing calculations for consistency
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/data_context.py
  tests/analysis/lensing/test_calculator.py
  tests/analysis/lensing/test_data_context.py
Due: auto-generate-init-src, auto-generate-init-tests

Ensure interferometers are validated as InterferometerList in TimeFrequencyDataContext
  src/nullpol/analysis/data_context.py
Due: auto-generate-init-src

docs: add docstring for LensingNullStreamCalculator and LensingChi2TimeFrequencyLikelihood __init__
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
Due: auto-generate-init-src

Update tests/analysis/lensing/test_data_context.py
  tests/analysis/lensing/test_data_context.py
Due: auto-generate-init-tests

Refactor lensing calculator to use full interferometer list and clean up test data context
  src/nullpol/analysis/lensing/calculator.py
  tests/analysis/lensing/test_data_context.py
Due: auto-generate-init-src, auto-generate-init-tests

style: add pylint disables for duplicate code in calculator and lensing modules
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
  src/nullpol/analysis/null_stream/calculator.py
Due: auto-generate-init-src

Update src/nullpol/analysis/lensing/data_context.py
  src/nullpol/analysis/lensing/data_context.py
Due: auto-generate-init-src

style: add pylint disables for intentional design choices in lensing modules
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
Due: auto-generate-init-src

fix: report created init files
  scripts/auto_generate_init.py
Due: none

fix(lensing): support separate image epochs
  src/nullpol/analysis/antenna_patterns/processor.py
  src/nullpol/analysis/data_context.py
  src/nullpol/analysis/lensing/__init__.py
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
  src/nullpol/analysis/lensing/data_context.py
  tests/analysis/lensing/__init__.py
  tests/analysis/lensing/test_calculator.py
  tests/analysis/lensing/test_chi2_tf_likelihood.py
  tests/analysis/lensing/test_data_context.py
Due: auto-generate-init-src, auto-generate-init-tests

chore(lensing): remove unrelated branch changes
  scripts/auto_generate_init.py
  src/nullpol/analysis/antenna_patterns/processor.py
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/likelihood/time_frequency_likelihood.py
  src/nullpol/analysis/null_stream/calculator.py
  tests/analysis/likelihood/__init__.py
Due: auto-generate-init-src, auto-generate-init-tests

feat(lensing): enhance two-image analysis with improved data context and validation
  src/nullpol/analysis/data_context.py
  src/nullpol/analysis/lensing/calculator.py
  src/nullpol/analysis/lensing/chi2_tf_likelihood.py
  src/nullpol/analysis/lensing/data_context.py
  src/nullpol/cli/input.py
  tests/analysis/lensing/test_calculator.py
  tests/analysis/lensing/test_chi2_tf_likelihood.py
  tests/analysis/lensing/test_data_context.py
  tests/analysis/test_data_context.py
  tests/cli/test_input.py
Due: auto-generate-init-src, auto-generate-init-tests

Remove VSCode configuration files
  .vscode/launch.json
  .vscode/settings.json
Due: none

Add reusable PE-driven time-frequency filters
  src/nullpol/asimov/nullpol.ini
  src/nullpol/tools/config.ini
  src/nullpol/tools/data_generation.py
  src/nullpol/tools/parser.py
  tests/tools/data_generation_test.py
Due: auto-generate-init-src, auto-generate-init-tests

Enable PEsummary generation in Asimov
  src/nullpol/asimov/asimov.py
  src/nullpol/asimov/nullpol.ini
  src/nullpol/asimov/tgrflow.py
Due: auto-generate-init-src

Add configurable Condor requirements
  src/nullpol/asimov/nullpol.ini
  src/nullpol/tools/main.py
  src/nullpol/tools/parser.py
Due: auto-generate-init-src

Remove data generation tests
  tests/tools/data_generation_test.py
Due: auto-generate-init-tests

Update waveform approximant to IMRPhenomXPHM in multiple files
  src/nullpol/injection/injection.py
  src/nullpol/source/simple_map.py
  src/nullpol/tools/config.ini
  src/nullpol/tools/input.py
Due: auto-generate-init-src

Add NullpolPESummaryNode to enhance PESummaryNode functionality
  src/nullpol/job_creation/nullpol_pipe_dag_creator.py
  src/nullpol/job_creation/pe_summary_node.py
Due: auto-generate-init-src

Bump version to 0.1.2
  src/nullpol/__init__.py
Due: auto-generate-init-src

fix(slurm): restore scheduler-compatible workflow generation
  src/nullpol/cli/main.py
  src/nullpol/integrations/__init__.py
  src/nullpol/integrations/htcondor/nullpol_pipe_dag_creator.py
  src/nullpol/integrations/slurm/__init__.py
  src/nullpol/integrations/slurm/dag.py
  tests/cli/test_input.py
  tests/integrations/slurm/test_dag.py
Due: auto-generate-init-src, auto-generate-init-tests

fix(likelihood): evaluate sampler proposals explicitly
  src/nullpol/analysis/likelihood/chi2_tf_likelihood.py
  src/nullpol/analysis/likelihood/time_frequency_likelihood.py
  tests/analysis/likelihood/test_chi2_tf_likelihood.py
  tests/analysis/likelihood/test_time_frequency_likelihood.py
Due: auto-generate-init-src, auto-generate-init-tests

fix(likelihood): keep Bilby's optional parameters argument
  src/nullpol/analysis/likelihood/chi2_tf_likelihood.py
  src/nullpol/analysis/likelihood/time_frequency_likelihood.py
  tests/analysis/likelihood/test_chi2_tf_likelihood.py
Due: auto-generate-init-src, auto-generate-init-tests

fix(slurm): run local generation exactly as the scheduled job
  src/nullpol/integrations/htcondor/nullpol_pipe_dag_creator.py
  src/nullpol/integrations/scheduler.py
  src/nullpol/integrations/slurm/dag.py
  tests/integrations/slurm/test_dag.py
Due: auto-generate-init-src, auto-generate-init-tests

fix(slurm): stop local generation when job setup fails
  src/nullpol/integrations/slurm/dag.py
  tests/integrations/slurm/test_dag.py
Due: auto-generate-init-src, auto-generate-init-tests

fix: restore Slurm workflows and align likelihood with Bilby (#217)
  src/nullpol/analysis/likelihood/chi2_tf_likelihood.py
  src/nullpol/analysis/likelihood/time_frequency_likelihood.py
  src/nullpol/cli/main.py
  src/nullpol/integrations/__init__.py
  src/nullpol/integrations/htcondor/nullpol_pipe_dag_creator.py
  src/nullpol/integrations/scheduler.py
  src/nullpol/integrations/slurm/__init__.py
  src/nullpol/integrations/slurm/dag.py
  tests/analysis/likelihood/test_chi2_tf_likelihood.py
  tests/analysis/likelihood/test_time_frequency_likelihood.py
  tests/cli/test_input.py
  tests/integrations/slurm/test_dag.py
Due: auto-generate-init-src, auto-generate-init-tests

fix(ci): ignore tags outside the release branch in changelog generation
  cliff.toml
Due: none

fix(ci): ignore tags outside the release branch in changelog generation (#220)
  cliff.toml
Due: none

Path conditions:
  auto-generate-init-src: any of: ^src/.*\.py$
  auto-generate-init-tests: any of: ^tests/.*\.py$
